<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is the home page 1+2</h1>
    <h3><%= [1,2,3,4,5,6].slice(2) %></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi distinctio dolorum nisi facere? Optio nostrum, inventore repellendus, perspiciatis impedit corrupti reprehenderit nihil aspernatur adipisci, laboriosam est quasi corporis numquam.
    Corrupti laudantium alias quidem quae. Sit labore ad dolor praesentium, laboriosam accusantium corrupti, corporis quia quam facere consectetur natus sequi dignissimos explicabo nihil saepe voluptas tempore. Ea cupiditate iste itaque?
    Inventore dolorem libero mollitia recusandae facilis dicta similique perspiciatis accusantium. Libero qui possimus excepturi quas corrupti ullam, earum dolorem tenetur aspernatur voluptates consequuntur deserunt aperiam eos adipisci nam quos eaque!
    Incidunt laudantium fugiat natus quisquam rem quaerat doloremque cumque id beatae aliquam deleniti praesentium facere quam mollitia nihil, ullam, architecto voluptatum. Sed laborum inventore eligendi sint velit commodi a pariatur?
    Iste unde quos dolorum quam in odio deserunt assumenda ullam recusandae at. Aliquam at maxime, quibusdam harum dolores, animi explicabo expedita voluptatibus cum corrupti ad nulla est obcaecati ipsa excepturi?
    Accusantium, eaque recusandae consequuntur quaerat saepe odit quo vero earum quos ullam rem aliquam cumque est! Nam ex nostrum tenetur? Aperiam omnis laborum, doloribus voluptas sint facilis dolorum nam veniam.
    Dolor tempore, accusantium sequi laudantium nulla hic culpa error, officiis delectus placeat omnis dolore iusto, harum soluta illum facilis dolorum asperiores. Hic inventore, optio cumque maiores voluptate cupiditate eveniet tempora.</p>
    <button>click me!</button>
</body>
</html>